body{
   min-height: 75vh;
   min-width: 98vw;
   display: flex;
   flex-direction: column;
}
footer{
   padding-top: 4vh;
   margin-top: auto;
}

.title
{
   font-size: 5vw;
   width: 90vw;
   margin-top: 2vh;
   margin-bottom: 2vh;
   font-weight: bold;
   text-align: center;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   align-items: center;
   justify-content: center;
}

.leaderboard
{
   position: absolute;
   left: 50%;
   top: 20%;
   width: 50vw;
   font-size: 4vw;
   margin-left: -30vw;
   padding : 5vw;
   color: white;
   background-color: rgb(61, 61, 61);
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   user-select: none;
}

.leaderboardButton
{
   font-size: 2.5vw;
   
   padding: 1vw;
   border-radius: .75vw;
   border-style: solid;
   border-color: #939598;
   
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-weight: bold;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   outline: none; 
   user-select: none;
}


.text
{
   width: 11vw;
   /*max-width: 75px;
   max-height: 75px;*/
   height: 11vw;
   font-size: 10vw;
   font-weight: bold;
   margin: .5vw;

   text-align: center;
   /*text-align: center;
   display:inline-block;
   vertical-align: middle;*/
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   border-width: 5px;
   border-style: solid;
   border-color: #939598;
   outline: none; 
   pointer-events :none;
   user-select: none;
   
}

.userEntry
{
   position: absolute;
   left: 50%;
   top: 25%;
   width: 40vw;
   z-index: 2;
   font-size: 5vw;
   margin-left: -22vw;

   font-weight: bold;
   text-align: center;
   background-color: white;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   border-width: 5px;
   border-style: solid;
   border-color: black;
 
}

.userEntryInner
{
   font-size: 10vw;
   height: 12vw;
   outline: none; 
   user-select: none;
}
.line
{
   display: flex;
   align-items: center;
   justify-content: center;
   /*text-align: center;
   vertical-align: middle;*/
   width: 95vw;
}



.focus {
   border-color: black;
}

p {
   margin-top: 2vh;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-size: 150%;
   font-weight: bold;
   text-align: center;
}


.keyboardLine
{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 98vw;
}

.keyboardLetter
{
   width: 8.5vw;
   /*max-width: 50px;
    max-height: 75px;
   */
   height: 16vw;
   font-size: 3vw;
   
   background-color: #d8d8d8;
   margin: .5vw;
   border-radius: .75vw;
   
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-weight: bold;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   outline: none; 
   user-select: none;
}

.keyboardLetterExtraWide
{
   width: 13vw;
   /*max-width: 100px;*/
}

.disabled   
{
   pointer-events:none;
   cursor: not-allowed;
}

.validPos
{
   color: rgb(255,255,255);
   background-color: #538d4e;
   border-color: transparent;
}
.validLet
{
   color: rgb(255,255,255);
   background-color: #b59f3b;
   border-color: transparent;
}

.invalid
{
   color: rgb(255,255,255);
   background-color: darkgray;
   border-color: transparent;
}

.hidden{
   visibility: hidden;
   display:none;
}

.message
{
   position: absolute;
   left: 50%;
   top: 25%;
   z-index: 3;
   width: 40vw;
   font-size: 4vw;
   margin-left: -25vw;
   padding : 5vw;
   color: white;
   background-color: rgb(61, 61, 61);
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-weight: bold;
   text-align: center;
   user-select: none;
}

.button
{
   width: 25vw;
   height: 10vw;
   font-size: 3vw;
   
   background-color: #d8d8d8;
   margin: 3vw;
   border-radius: .75vw;
   
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-weight: bold;
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   outline: none; 
   user-select: none;
}