.text
{
   width:10vw;
   height: 10vw;
   font-size: 7vw;
   text-transform:uppercase;
   text-align: center;
   line-height: 100%;
   vertical-align: middle;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   display: inline-block;
   border-width: 5px;
   border-style: solid;
   border-color: #939598;
   
}
.text:focus {
   border-color: #538d4e;
}

p {
   margin-top: 2rem;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-align: center;
}
.line
{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   vertical-align: middle;
   width: 100vw;
}

.disabled   
{
   pointer-events:none;
   cursor: not-allowed;
}

.validPos
{
   color: rgb(255,255,255);
   background-color: #538d4e;
   border-width: 0;
}
.validLet
{
   color: rgb(255,255,255);
   background-color: #b59f3b;
   border-width: 0;
}

.invalid
{
   color: rgb(255,255,255);
   background-color: #939598;
   border-width: 0;
}