input[type=text]
{
   width: 50px;
   height: 50px;
   font-size: 50px;
   text-transform:uppercase;
   text-align: center;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   display: inline-block;
   
}
p {
   margin-top: 2rem;
   font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
   font-size: 200%;
   font-weight: bold;
   text-align: center;
}
div
{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   vertical-align: middle;
   padding: 2px;
}

.disabled   
{
   pointer-events:none;
   cursor: not-allowed;
}

.validPos
{
   color: rgb(255,255,255);
   background-color: #538d4e;
   border-width: 0;
}
.validLet
{
   color: rgb(255,255,255);
   background-color: #b59f3b;
   border-width: 0;
}

.invalid
{
   color: rgb(255,255,255);
   background-color: #939598;
   border-width: 0;
}